.situation-item{
  position: relative;
  span{
    font-size: 64px;
    font-weight: 700;
    color: #5BAADF;
    top: -6%;
    left: 5%;
    position: absolute;
  }
}
.situation-img{
  max-width: 368px;
  padding: 34px;
  background-color: #AEBECBCC;
  border-radius: 500px;
}

.empty-content{
  position: relative;
  display: block;
  height: 70px;
  @media (max-width: 988px) {
    height: 100px;
  }
  @media (max-width: 768px) {
    height: 0px;
  }
}

.hot-card-img{
  border-radius: 10px 10px 10px 10px;
}

.hot-card-title{
  text-align: center;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  position: relative;
  .hot-course{
    position: absolute;
    font-size: 10px;
    bottom: -10%;
    left: 2%;
    border: 1px solid #93463f;
    background-color: #db7369;
    color: white;
    border-radius: 20px;
    padding: 5px;
  }
  span{
    font-size: 14px;
  }
  .bi-star-fill{
    color: #fad54f;
  }
}

.order-table{
  table td,table ,th{
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #000;
  }
  td{
      align-items: center;
      line-height: 2;
    }
}

.bg-banner{
  padding: 250px;
  background: rgba(73, 70, 70, 0.5);
  color: white;
  text-align: center;
  @media (max-width: 468px) {
    padding: 100px;
  }
}